{% extends "overview.html" %}
{% load static %}
{% block overview %}
    <section id="about" class="about mb-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="d-flex justify-content-center">
                        <a href="{% static 'images/fullpic.JPG' %}" data-lightbox="roadtrip">
                            <img src="{% static 'images/profile.png' %}" class="img-fluid" alt="image">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content">
                    <p>
                        Experienced IT professional with a strong background in software development and leadership.
                        Proficient in
                        design,
                        installation, testing, and maintenance of software systems across various platforms and
                        languages.
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li>
                                    <i class="bi bi-chevron-right"></i> <strong>Occupation:</strong>
                                    <span>Information Technology,
                                    Security Officer</span>
                                </li>
                                <li>
                                    <i class="bi bi-chevron-right"></i> <strong>Website:</strong>
                                    <span>www.pminnovest.com</span>
                                </li>
                                <li>
                                    <i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                                    <span>pminnovest@gmail.com</span>
                                    <li>
                                        <i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+254 7247 734
                                        26</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li>
                                        <i class="bi bi-chevron-right"></i> <strong>Degree:</strong>
                                        <span>Undergraduate</span>
                                    </li>
                                </li>
                                <li>
                                    <i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Nairobi,
                                    Kenya</span>
                                </li>
                                <li>
                                    <i class="bi bi-chevron-right"></i> <strong>Freelance:</strong>
                                    <span>Available</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="resume" class="resume pt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Summary</h3>
                    <div class="resume-item pb-0">
                        <h4>Peter Mwangi</h4>
                        <p>
                            <em>Security is not a product, but a process. — Bruce Schneier</em>
                        </p>
                        <ul>
                            <li>Nairobi, Kenya</li>
                            <li>+254 7247 734 26</li>
                            <li>pminnovest@gmail.com</li>
                        </ul>
                    </div>
                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Bachelor's degree Information Technology</h4>
                        <h5>2020 - 2023</h5>
                        <p>
                            <em>Mount Kenya university - Kenya</em>
                        </p>
                        <p>
                            Relevant coursework: Advanced Data Structures and Computer Algorithms, Artificial
                            Intelligence, Mobile
                            Applications
                            Development, Advanced Server Side Request Forgery, Network Operating Systems, Database
                            systems.
                        </p>
                    </div>
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Developer at Fahrenheit Digital Agency</h4>
                        <h5>2022 - Present</h5>
                        <p>
                            <em>Part Time</em>
                        </p>
                        <p>
                            <em>Nakuru</em>
                        </p>
                        <ul>
                            <li>
                                Developed a REST API using the Django framework that allowed communication between
                                multiple
                                services
                            </li>
                            <li>
                                Developed a full stack web application from scratch, including back-end services,
                                front-end
                                interface, and database
                            </li>
                            <li>Deployed a web application firewall to protect against malicious web-based attacks</li>
                            <li>
                                Developed a full stack web application from scratch, including back-end services,
                                front-end
                                interface, and database
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">Skills and competencies</h3>
                    <div class="resume-item">
                        <h4>Hands on experience in</h4>
                        <div class="d-flex flex-wrap">
                            <span class="badge d-flex align-items-center p-1 px-4 ps-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill m-1">
                                <i class='bx bxl-python fs-5'></i>
                                Python
                            </span>
                            <span class="badge d-flex align-items-center p-1 px-4 ps-2 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill m-1">
                                <i class='bx bxl-react fs-5'></i>
                                React
                            </span>
                            <span class="badge d-flex align-items-center p-1 px-4 ps-2 text-info-emphasis bg-info-subtle border border-info-subtle rounded-pill m-1">
                                <i class='bx bxl-django fs-5'></i>
                                Django
                            </span>
                            <span class="badge d-flex align-items-center p-1 px-4 ps-2 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill m-1">
                                <i class='bx bxl-java fs-5'></i>
                                Java
                            </span>
                            <span class="badge d-flex align-items-center p-1 px-4 ps-2 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-pill m-1">
                                <i class='bx bxl-javascript fs-5'></i>
                                Javascript
                            </span>
                            <span class="badge d-flex align-items-center p-1 px-4 ps-2 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-pill m-1">
                                <i class='bx bxl-docker fs-5'></i>
                                Docker
                            </span>
                            <span class="badge d-flex align-items-center p-1 px-4 ps-2 text-info-emphasis bg-info-subtle border border-info-subtle rounded-pill m-1">
                                <i class='bx bxl-steam fs-5'></i>
                                Nginx
                            </span>
                            <span class="badge d-flex align-items-centerp-1 px-4 ps-2 text-dark-emphasis bg-light-subtle border border-dark-subtle rounded-pill m-1">
                                <i class='bx bxs-hourglass-top fs-6'></i> Celery
                            </span>
                            <span class="badge d-flex align-items-centerp-1 px-4 ps-2 text-dark-emphasis bg-dark-subtle border border-dark-subtle rounded-pill m-1">
                                <i class='bx bxs-data fs-5'></i>  Redis
                            </span>
                            <span class="badge d-flex align-items-centerp-1 px-4 ps-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill m-1">
                                <i class='bx bxl-postgresql fs-5'></i>  PostgreSQL
                            </span>
                        </div>
                    </div>
                    <div class="resume-item">
                        <h4>Competencies</h4>
                        <ul>
                            <li>Python - Django, Pandas, MatPlotLib</li>
                            <li>Network OS - Nginx, Redis, Celery, Flower</li>
                            <li>Excel - V lookup, Pivot Tables, Formulas</li>
                            <li>JavaScript -React, Redux, NodeJS</li>
                            <li>Microsoft Power BI</li>
                            <li>Mobile - React Native for ios, android, web</li>
                            <li>Docker - Docker compose, Docker compose</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Projects</h4>
                        <h5>Data analytics with Python, Excel and My SQL</h5>
                        <p>
                            <em>Updated on July 2024</em>
                        </p>
                        <ul>
                            <p>
                                <strong class="mb-2">Link:
                                    <a href="https://github.com/mwangihub/learn-data-analytics.git"
                                       target="_blank"
                                       rel="noopener noreferrer">Learn Data analytics</a>
                                </strong>
                            </p>
                            <li>Utilized Python and libraries like Pandas to analyze Customer – Order relationships</li>
                            <li>Used Power BI for Data Visualization</li>
                            <li>Used Django framework for Database Management</li>
                            <li>Utilized PostgreSQL as a database to save results.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h5>Web scrapper with python and selenium</h5>
                        <p>
                            <em>Updated on July 2024</em>
                        </p>
                        <ul>
                            <p>
                                <strong class="mb-2">Link:
                                    <a href="{% url 'jumia:jumia_case_study' %}"
                                       target="_blank"
                                       rel="noopener noreferrer">Jumia products
                                    analytics</a>
                                </strong>
                            </p>
                            <p>
                                Explore how I leverage data to extract insights, visualize trends, and make informed
                                decisions. This project demonstrates analysis and interpretation of data to deliver
                                actionable
                                results.
                                The data has been scraped from <a class="fw-bold"
    href="https://www.jumia.co.ke/"
    target="_blank"
    rel="noopener noreferrer">Jumia online shop</a> using
                                <a class="fw-bold"
                                   href="https://www.jumia.co.ke/"
                                   target="_blank"
                                   rel="noopener noreferrer">Selenium</a>
                                <a class="fw-bold"
                                   href="https://www.jumia.co.ke/"
                                   target="_blank"
                                   rel="noopener noreferrer">Celery
                                and Python</a>
                            </p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock overview %}
