{% if messages %}
    <div class="container">
        {% for message in messages %}
            <div class="mb-2 rounded-0 alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'success' %}alert-success{% elif message.tags == 'info' or message.tags == 'debug' %}alert-info{% else %}alert-primary{% endif %} alert-dismissible fade show"
                 role="alert">
                {{ message |safe }}
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}
