#hero {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 140px 0 100px
}

#hero:before {
    content: "";
    position: absolute;
    right: -100%;
    top: 20%;
    width: 250%;
    height: 200%;
    z-index: -1;
    transform: skewY(135deg)
}

#hero h1 {
    margin: 0 0 10px;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    color: #031335
}

#hero h2 {
    color: #041844;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: unset;
}

.download-btn {
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    padding: 8px 24px 10px 46px;
    border-radius: 3px;
    transition: .5s;
    color: #fff;
    background: #0448e7;
    position: relative;
    text-decoration: none;
    width: max-content
}

.download-btn:hover {
    background: #032f8b
}

.download-btn i {
    font-size: 20px;
    position: absolute;
    left: 18px;
    top: 5px
}

@media (max-width: 991px) {
    #hero .hero-img {
        text-align: center
    }

    #hero .hero-img img {
        width: 100%
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px
    }

    #hero .hero-img img {
        width: 100%
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 100%
    }
}

#app section {
    padding: 60px 0;
    overflow: hidden
}

#app .section-bg {
    background-color: #f2f5fa
}

#app .section-title {
    padding-bottom: 30px;
    font-weight: unset
}

#app .section-title h2 {
    font-size: 32px;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #041844
}

#app .section-title p {
    margin-bottom: 0
}

.scrape-info .scrape-card {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    height: 80vh;
    overflow: auto
}

.project_features .content {
    padding: 30px 0
}

.project_features .content .icon-box {
    margin-top: 25px
}

.project_features .content .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 10px 60px
}

.project_features .content .icon-box i {
    font-size: 48px;
    float: left
}

.project_features .content .icon-box i.postgres {
    color: #008bb9
}

.project_features .content .icon-box i.nginx {
    color: #17b900
}

.project_features .content .icon-box i.excel {
    color: #045c12
}

.project_features .content .icon-box p {
    font-size: 15px;
    color: #979aa1;
    margin-left: 60px
}

.project_features .no-gutters .image img {
    max-width: 100%
}

@media (max-width: 991px) {
    .project_features .no-gutters .image {
        text-align: center
    }

    .project_features .no-gutters .image img {
        max-width: 80%
    }
}

@media (max-width: 667px) {
    .project_features .no-gutters .image img {
        max-width: 100%
    }
}

.scrape-info .scrape-card {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1
}

.scrape-info .scrape-card::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

.scrape-info .scrape-card::-webkit-scrollbar-track {
    background: #f1f1f1
}

.scrape-info .scrape-card::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid #f1f1f1
}

.scrape-info .scrape-card::-webkit-scrollbar-thumb:hover {
    background: #555
}

.scrape-info .analytic-item {
    padding: 0 0 0 20px;
    border-left: 2px solid #c0c0c0;
    position: relative
}

.scrape-info .analytic-item small {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: silver;
    margin-bottom: 10px
}

.scrape-info .analytic-item h5 {
    font-size: 16px;
    background: #f7f8f9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px
}

.scrape-info .analytic-item ul {
    padding-left: 20px;
    margin-bottom: 0;
    list-style: none
}

.scrape-info .analytic-item ul li {
    padding-bottom: 0
}

.scrape-info .analytic-item:last-child {
    padding-bottom: 0
}

.scrape-info .analytic-item:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    left: -4.5px;
    top: 0;
    background: #b0b0b0;
    border: .5px solid #c0c0c0
}

.section_tag {
    padding: 2px;
    transition: background-color .3s
}

.section_tag.highlight {
    background-color: #1a885540;
    padding: .5rem !important;
    color: #000;
    width: max-content
}

#section_tag {
    cursor: pointer !important
}

.intro-section {
    padding: 20px 0
}

.intro-heading {
    color: #007bff
}

.section-title {
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 700
}

.section-content {
    margin-bottom: 30px
}

.highlight {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px
}

.truncate-text {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.dashboard_user nav ol {
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    justify-content: normal;
    overflow: hidden
}

.dashboard_user .filter {
    position: absolute;
    right: 0;
    top: 15px
}

.dashboard_user .filter .icon {
    color: #aab7cf;
    padding-right: 20px;
    padding-bottom: 5px;
    transition: .3s;
    font-size: 16px
}

.dashboard_user .filter .icon:hover,
.dashboard_user .filter .icon:focus {
    color: #4154f1
}

.dashboard_user .filter .dropdown-header {
    padding: 8px 15px
}

.dashboard_user .filter .dropdown-header h6 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #aab7cf;
    margin-bottom: 0;
    padding: 0
}

.dashboard_user .filter .dropdown-item {
    padding: 8px 15px
}

.dashboard_user .info-card {
    padding-bottom: 10px
}

.dashboard_user .info-card h6 {
    font-size: 28px;
    color: #012970;
    font-weight: 700;
    margin: 0;
    padding: 0
}

.dashboard_user .card-icon {
    font-size: 32px;
    line-height: 0;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0
}

.dashboard_user .sales-card .card-icon {
    color: #4154f1;
    background: #f6f6fe
}

.dashboard_user .revenue-card .card-icon {
    color: #2eca6a;
    background: #e0f8e9
}

.dashboard_user .customers-card .card-icon {
    color: #ff771d;
    background: #ffecdf
}

.dashboard_user .top-selling {
    font-size: 14px
}

.dashboard_user .activity .activity-item .activite-label {
    color: #888;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    min-width: 64px
}

.dashboard_user .activity .activity-item .activite-label:before {
    content: "";
    position: absolute;
    right: -11px;
    width: 4px;
    top: 0;
    bottom: 0;
    background-color: #eceefe
}

.dashboard_user .activity .activity-item .activity-badge {
    margin-top: 3px;
    z-index: 1;
    font-size: 11px;
    line-height: 0;
    border-radius: 50%;
    flex-shrink: 0;
    border: 3px solid #fff;
    flex-grow: 0
}

.dashboard_user .activity .activity-item .activity-content {
    padding-left: 10px;
    padding-bottom: 20px
}

.dashboard_user .activity .activity-item:first-child .activite-label:before {
    top: 5px
}

.dashboard_user .activity .activity-item:last-child .activity-content {
    padding-bottom: 0
}

.dashboard_user .news .post-item+.post-item {
    margin-top: 15px
}

.dashboard_user .news img {
    width: 80px;
    float: left;
    border-radius: 5px
}

.dashboard_user .news h4 {
    font-size: 15px;
    margin-left: 95px;
    font-weight: 700;
    margin-bottom: 5px
}

.dashboard_user .news h4 a {
    color: #012970;
    transition: .3s
}

.dashboard_user .news h4 a:hover {
    color: #4154f1
}

.dashboard_user .news p {
    font-size: 14px;
    color: #777;
    margin-left: 95px
}

.dashboard_user .recent-sales {
    font-size: 14px
}

.dashboard_user .recent-sales .table thead {
    background: #f6f6fe
}

.dashboard_user .recent-sales .table thead th {
    border: 0
}

.dashboard_user .recent-sales .dataTable-top {
    padding: 0 0 10px
}

.dashboard_user .recent-sales .dataTable-bottom {
    padding: 10px 0 0
}

.dashboard_user .top-selling .table thead {
    background: #f6f6fe
}

.dashboard_user .top-selling .table thead th {
    border: 0
}

.dashboard_user .top-selling .table tbody td {
    vertical-align: middle
}

.dashboard_user .top-selling img {
    border-radius: 5px;
    max-width: 60px
}

.contact .section-title h2 {
    font-size: 32px
}

.contact .info {
    padding: 20px 40px;
    text-align: center
}

.contact .info i {
    font-size: 48px;
    color: #9fb2d8;
    margin-bottom: 15px
}

.contact .info h4 {
    padding: 0;
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase
}

.contact .info p {
    font-size: 15px
}

.contact .php-email-form {
    width: 100%
}

#footer {
    background: #fff;
    padding: 0 0 30px;
    color: #47536e;
    font-size: 14px;
    margin-top: 30px
}

#footer .copyright {
    text-align: center;
    float: left;
    color: #47536e
}

#footer .credits {
    float: right;
    text-align: center;
    font-size: 13px;
    color: #47536e
}

@media (max-width: 768px) {

    #footer .copyright,
    #footer .credits {
        float: none;
        text-align: center;
        padding: 5px 0
    }
}